---
title:  Home
layout: default
---
<div class="starter-template">
	<h1>Bootstrap customization template</h1>
	<p class="lead">
		Use this middleman project as a way to quickly start any new project using bootstrap and create a customized theme.
	</p>
</div>
